body{
    background: linear-gradient(345deg, rgba(13, 209, 206, 0.877),     rgba(255, 255, 255, 0.717) 70.71%),
            linear-gradient(127deg, rgba(255, 255, 255, 0.8), rgb(255, 255, 255) 70.71%),
            linear-gradient(336deg, rgba(255, 255, 255, 0.8), rgb(255, 255, 255) 70.71%);
}
.navbar{
    background: linear-gradient(345deg, rgba(13, 209, 206, 0.877),     rgba(255, 255, 255, 0.717) 70.71%),
            linear-gradient(127deg, rgba(255, 255, 255, 0.8), rgb(255, 255, 255) 70.71%),
            linear-gradient(336deg, rgba(255, 255, 255, 0.8), rgb(255, 255, 255) 70.71%);
}
.navbar-brand{
    font-family: Brush Script MT;
    color: rgb(63, 161, 128);
}
.navbar-brand:hover{
    color: rgb(22, 170, 211);
}

.dropdown:hover,
.panier:hover,
.txt-panier:hover{
    color: rgb(35, 152, 168);;
}
.btn-search{
    border: 1px solid rgb(35, 152, 168);
}
.btn-search:hover{
    background-color: rgb(44, 173, 156);
    border: 1px solid rgb(35, 152, 168);
}
.connecter, .inscrire{
    background-color: rgb(44, 173, 156);
}
.search{
    width: 135% !important;
}
.prix{
    margin-top: -22px;
}
.part1{
    height: 375px;
}
.col1{
    height: 81%;
}
.new:hover{
    box-shadow: 0 0 5px rgb(44, 173, 156);;
    transform:scale(1.1);
    border-radius: 15px;
    transition-duration: 0.5s;
}
@media screen and (max-width: 821px){
    .search{
        width: 25% !important;
    }
}